body {
	background: black;
}

#templates {
	display: none;
}

.row {
	width: 100%;
	display: block;
}

.col {
	width: 49%;
	display: inline-block;
	height: 100%;
	border-right: 1px solid gray;
}

.bodywrap {
	width: 1000px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background: white;
}

.stats {
	border-top: 1px solid gray;
}

.stats label {
	display: inline-block;
	font-weight: bold;
}

.stats .value {
	display: inline-block;
}


